<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>
    <footer th:fragment="footer" class="footer" role="contentinfo">
        <div class="container">
            <span id="copyright" >版权所有 ©️2019</span>
            <span>Powered by <a href="http://www.itl.cn">北京科捷智云技术服务有限公司</a></span>
        </div>
    </footer>
</body>
</html>
